Правила сообщества сообщества специалистов по кибербезопасности АСУ ТП / RUSCADASEC
 
- Соблюдать тему группы при публикации сообщений
- Соблюдать нормы приличия при общении
- Не обсуждать политику не имеющую прямого отношения к теме!
- Длинные двусторонние обсуждения по возможности уносить в личку
- Не злоупотреблять стикерами и другим не тематическим fun контентом
- Группа открытая, каждый может добавлять новых участников или приглашать по ссылке: https://t.me/RUSCADASEC
 
Все активности сообщества «Кибербезопасность АСУ ТП» / RUSCADASEC здесь: 
https://www.ruscadasec.ru
Наш канал для основных новостей и материалов: https://t.me/ruscadasecnews
 
Наши друзья:
 
Сообщество ruCyberSecurity
 - чат Telegram @ruCyberSecurity_chat
 - форум https://rucybersecurity.ru/signup/ 
 - Slack http://bit.ly/rucybersecurity
 - канал Telegram https://t.me/ruCyberSecurity
 
Безопасность КИИ 187-ФЗ:
 - Telegram-чат КИИ 187-ФЗ https://t.me/KII187FZ 
 - группа Facebook https://www.facebook.com/groups/kii187FZ
 - группа ВКонтакте https://vk.com/kii187fz
 - Twitter https://twitter.com/kii187fz
 
Обсуждение вопросов, связанных с Федеральным законом от 26.07.2017 № 187-ФЗ «О безопасности критической информационной инфраструктуры Российской Федерации»
